name: CI
on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "ext/**"
      - "test/**"
      - "Project.toml"
      - ".github/workflows/CI.yml"
  push:
    branches:
      - main

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1"
          - "lts"
        os:
          - ubuntu-latest
          # - windows-latest
          - macos-latest
    uses: LuxDL/Lux.jl/.github/workflows/CommonCI.yml@main
    with:
      julia_version: ${{ matrix.version }}
      os: ${{ matrix.os }}
      project: "."

  downgrade:
    uses: LuxDL/Lux.jl/.github/workflows/CommonCI.yml@main
    with:
      julia_version: "1.11"
      downgrade_testing: true
      project: "."

  # invalidations:
  #   # Only run on PRs to the default branch.
  #   # In the PR trigger above branches can be specified only explicitly whereas this check should work for master, main, or any other default branch
  #   if: github.base_ref == github.event.repository.default_branch
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: julia-actions/setup-julia@v2
  #       with:
  #         version: "1"
  #     - uses: actions/checkout@v6
  #     - uses: julia-actions/julia-buildpkg@v1
  #     - uses: julia-actions/julia-invalidations@v1
  #       id: invs_pr

  #     - uses: actions/checkout@v6
  #       with:
  #         ref: ${{ github.event.repository.default_branch }}
  #     - uses: julia-actions/julia-buildpkg@v1
  #     - uses: julia-actions/julia-invalidations@v1
  #       id: invs_default

  #     - name: Report invalidation counts
  #       run: |
  #         echo "Invalidations on default branch: ${{ steps.invs_default.outputs.total }} (${{ steps.invs_default.outputs.deps }} via deps)" >> $GITHUB_STEP_SUMMARY
  #         echo "This branch: ${{ steps.invs_pr.outputs.total }} (${{ steps.invs_pr.outputs.deps }} via deps)" >> $GITHUB_STEP_SUMMARY
  #     - name: Check if the PR does increase number of invalidations
  #       if: steps.invs_pr.outputs.total > steps.invs_default.outputs.total
  #       run: exit 1
